<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="passwordless.ZPM">
<Module>
 <Name>passwordless</Name>
  <Version>1.0.0</Version>
  <Description>Passwordless mode for Dev Mode IRIS</Description>
  <Keywords>Passwordless mode for Dev Mode IRIS</Keywords>
  <Author>
   <Person>Mikhaylenko Sergey</Person>
   <CopyrightDate>2023</CopyrightDate>
   <License>MIT</License>
  </Author>
  <Packaging>module</Packaging>
  <SourcesRoot>src</SourcesRoot>
  <Resource Name="ZAUTHENTICATE.MAC" Directory="mac"/>
  <Resource Name="dc.passwordless.CLS" Directory="cls"/>
  <Invokes>
  <!--<Invoke Routine="ZAUTHENTICATE.MAC" Method="Apply"></Invoke>-->
  <Invoke Class="dc.passwordless" Method="Apply"></Invoke>
  </Invokes>
</Module>
</Document>
</Export>
